body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#root {
  text-align: center;
  --purple: #5865f2;
  --green: #57f287;
  --yellow: #fee75c;
  --fuchsia: #eb459e;
  --red: #ed4245;
  --white: #ffffff;
  --black: #000000;
  background: var(--purple);
  width: 100%;
  height: 100%;
}

.App {
  background: url("src/assets/discord-background.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: bottom 0% left 80%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
text {
  font-family: "Roboto", sans-serif;
}

.navbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.navbar__discord-logo {
  height: 25%;
}

.navbar__menu-icon {
  height: 25%;
}

.hero {
  padding: 2em;
  height: 90vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2em;
}

.hero__title {
  width: 50%;
  font-size: 3.5em;
}

.hero__text {
  font-size: 1.2em;
}

.hero__button {
  padding: 1em 2em;
  border-radius: 32px;
  font-size: 1.2em;
}

#hero__button-mac {
  background-color: var(--white);
  color: var(--black);
}
